@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>CALLLLLLL</h2>
<a asp-controller="App" asp-action="Index">Go to Home</a>